<div class ="container">
<!--                 ******EVENT BINDING
  
   <input type="text" class="form-control" (change)="click()"  >
  <button class="btn btn-success" (click)="onClick()">click</button> 
-->
<!--<input [(ngModel)] = "name"/>
<p> {{name}} </p>
-->
<!---              ******TWO-WAY DATA BINDING



<input type="text" class="form-control" placeholder="sum1" [value]="sum1">
<input type="text" class="form-control" placeholder="sum2" [value]="sum2">
<input type="text" class="form-control" placeholder="result" [value]="result" >
<button class="btn btn-success" (click)="onClick()">Add</button>
<br><br><br>
<input type="number" class="form-control" [(ngModel)] ="sum01" (input)="resultfun()" > 
<input type="number" class="form-control" [(ngModel)] ="sum02" (input)="resultfun()" >
<input type="number" class="form-control" [(ngModel)]="result01" >

  -->

  
</div>