
<div class="row">
  <div class="col-sm-2" id="profileview">
  <div class="card ">
    <img [src]="user.photoURL"  class="himg shadow "
     alt="alt">
  </div> <br>
  <div class="h3 f5 fw6" >
    {{user.displayName}}   
   </div>
  <a class="h5" routerLink="/profile/{{id}}" style="color:blue; text-decoration:underline;">
    edit profile</a>
  
  </div>
  <div class="col-sm-8">
    <app-create (postCreated_output)="createPost()"> </app-create>
    <app-post (delete_output)="refresh_post()" *ngFor = "let post of posts" [post]="post" ></app-post>  
  </div>
  </div>
